/* Custom Stylesheet */

header, main, footer {
  padding-left: 320px;
  padding-right: 20px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
  	padding-left: 0;
  	padding-right: 0;
  }

}

i.icon-white {
    color: white;
}